@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid">
    <br />
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CommentDownloadRequest.Url">Url</label>
            <input asp-for="CommentDownloadRequest.Url" class="form-control" required type="url" />
            <span asp-validation-for="CommentDownloadRequest.Url" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Download</button>
    </form>

    <hr />
    @if (!string.IsNullOrWhiteSpace(Model.CommentDownloadResponse?.Error) )
    {
        <div class="alert alert-danger" role="alert">@Model.CommentDownloadResponse.Error</div>
    }

    <hr />
    @if (Model.CommentDownloadResponse?.Comments != null && Model.CommentDownloadResponse.Comments.Count > 0)
    {
        var comments = Model.CommentDownloadResponse.Comments.OrderByDescending(x => x.Rating);
        <ul class="list-group">
            @foreach (var comment in comments)
            {
                <li class="list-group-item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @comment.Author
                        </div>
                        <div class="panel-body">
                            @comment.Body
                        </div>
                        <div class="panel-footer">
                            <div class="badge"><i class="glyphicon glyphicon-calendar"></i>  @comment.Date</div>
                            <div class="badge"><i class="glyphicon glyphicon-thumbs-up"></i>  @comment.Rating</div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
</div>

